@model SERVOSA.SAIR.WEB.Models.DriverTableColumnViewModel

@{
    int qytColumns = Model.Columns.Count;
}

<div class="containerdatatable" style="display:table-cell;">
    <table class="table table-bordered table-hover servosatable" data-tablename="@Model.TableNormalizedName">
        <thead>
            <tr>
                <th colspan="@(qytColumns + 1)">
                    <div style="display: inline-block;">
                        <p style="display: inline;">@Model.TableName</p>
                        <button data-normalizedtablename="@Model.TableNormalizedName" data-tablename="@Model.TableNormalizedName" class="btn btn-default addNewColumnToVariable" type="button" style="display: inline;"> <span class="glyphicon glyphicon-plus"></span> </button>
                        <button data-normalizedtablename="@Model.TableNormalizedName" data-tablename="@Model.TableNormalizedName" class="downloadFileForVariable btn btn-default" type="button" style="display: inline;"> <span class="glyphicon glyphicon-download"></span> </button>
                        <button data-normalizedtablename="@Model.TableNormalizedName" data-tablename="@Model.TableName" class="editdrivertablename btn btn-default" type="button" style="display: inline;"> <span class="glyphicon glyphicon-edit"></span> </button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    Tareas
                </th>
                @foreach (var iColumn in Model.Columns)
                {
                    <th>@iColumn.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>