@using SERVOSA.SAIR.WEB.Core.Authentication

<li>@Html.ActionLink("General Vehículos", MVC.Home.Index())</li>
<li>@Html.ActionLink("Vehiculos", MVC.Vehicle.Index())</li>
<li>@Html.ActionLink("General Conductores", MVC.DriverDashboard.Index())</li>
<li>@Html.ActionLink("Conductores", MVC.Driver.Index())</li>
<li>@Html.ActionLink("Destinatarios", MVC.Email.Manage())</li>