@model IList<string>

@{
    ViewBag.Title = "Datos del Conductor";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/jtable/themes/jqueryui/jtable_jqueryui.css" rel="stylesheet" />
<link href="~/Content/validationEngine.jquery.css" rel="stylesheet" />
<input type="hidden" name="CurrentDriverId" value="@((int)ViewBag.DriverCode)" />

<div class="row" style="display: none;">
    <div class="col-md-8">
        <input type="text" id="driverAutoComplete" class="form-control" value="" />
    </div>
</div>
<div class="row" style="margin-top: 15px;">
    @{ Html.RenderAction(MVC.DriverData.CabeceraVehiculo((int)ViewBag.DriverCode)); }
</div>
<hr />
<div class="row">
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var iTableName in Model)
        {
            <li role="presentation">
                <a href="#@iTableName" aria-controls="@iTableName" role="tab" data-toggle="tab" data-drivercode="@((int)ViewBag.DriverCode)">@iTableName</a>
            </li>
        }
    </ul>

    <div class="tab-content">
        @foreach (var iTableName in Model)
        {
            <div role="tabpanel" class="tab-pane" id="@iTableName">
                <div class="innercontenttab well" data-containerid="#@iTableName">
                    Content Tab @iTableName
                </div>
                <div class="innerfilestable well" data-tablename="@iTableName" data-drivercode="@((int)ViewBag.DriverCode)">
                    <div id="@("filetable" + iTableName)">

                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery-ui-1.9.2.js" type="text/javascript"></script>
    <script src="~/Scripts/handlebars-latest.js" type="text/javascript"></script>
    <script src="~/Scripts/jtable/jquery.jtable.js" type="text/javascript"></script>
    <script src="~/Scripts/jtable/localization/jquery.jtable.es.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validationEngine-es.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validationEngine.js" type="text/javascript"></script>
    <script src="~/Scripts/ViewController/DriverViewController.js" type="text/javascript"></script>
    <script src="~/Scripts/ViewController/DriverDataViewController.js" type="text/javascript"></script>
    <script src="~/Scripts/ViewController/SERVOSAViewController.js" type="text/javascript"></script>
}