@model SERVOSA.SAIR.SERVICE.Models.TableViewModel

<div class="containerdatatable" style="display:table-cell;">
    <table class="table table-bordered table-hover servosatable" data-tablename="@Model.TableNormalizedName">
        <thead>
            <tr>
                <th colspan="3">
                    <div style="display: inline-block;">
                        <p style="display: inline;">@Model.TableName</p>
                        <button data-tablename="@Model.TableNormalizedName" class="btn btn-default addNewColumnToVariable" type="button" style="display: inline;"> <span class="glyphicon glyphicon-plus"></span> Agregar Columna</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>@Model.TableName 1 ja ja ja</th>
                <th>@Model.TableName 2</th>
                <th>@Model.TableName 3 ja ja ja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>