@model IEnumerable<SERVOSA.SAIR.SERVICE.Models.VehicleServiceModel>

<form action="/" method="post" id="tableData">
    <table class="table table-hover table-bordered servosatable">
        <thead>
            <tr>
                <th colspan="6">
                    <div style="display: inline-block;">
                        <p style="display: inline;">Datos de Vehiculo</p>
                        <button class="btn btn-default" type="button" style="display: inline;margin-left: -900px;">A</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescripcionTipoUnidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Placa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                        <a href="/VehicleData/Data?vehicleCode=@item.Codigo" title="Panel General"><span class="glyphicon glyphicon-dashboard"></span></a>
                        <a href="/VehicleData/DownloadVehicleData?vehicleId=@item.Codigo" title="Descargar Datos de Vehiculo"><span class="glyphicon glyphicon-download"></span></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionTipoUnidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
