@model SERVOSA.SAIR.DATAACCESS.Models.DB.TableModel

<div class="containerdatatable" style="display:table-cell;" >
    <table class="table table-bordered" data-tablename="@Model.TableName">
        <thead>
            <tr>
                <th colspan="3">
                    @Model.TableName
                </th>
            </tr>
            <tr>
                <th>@Model.TableName 1 ja ja ja</th>
                <th>@Model.TableName 2</th>
                <th>@Model.TableName 3 ja ja ja</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>